##########
# HEADER #
##########
header:
  version: 20

local_conf_header:
  wifi: |
    WIFI_SSID = "your_wifi_ssid_here"
    WIFI_PSK_HASH = "your_wifi_psk_hash_here"

  sourcecontrol: |
    SOURCE_MIRROR_URL ?= "http://<cache_server>.tld/sources/"
    BB_HASHSERVE_UPSTREAM = "<cache_server>.tld:8686"
    SSTATE_MIRRORS ?= "file://.* http://<cache_server>.tld/sstate/PATH;downloadfilename=PATH"
